/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #403d40;
  background: #fff;
}

a {
  text-decoration: none;
  color: #403d40;
  cursor: pointer;
}

img {
  height: auto;
  margin: auto;
}

ul {
  list-style: none;
}

.container {
  max-width: 1166px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

.main-content-hide {
  display: none;
}

/* Text */
p {
  color: #aeadae;
}

.span-big-text {
  font-size: 195px;
  font-weight: 600;
  letter-spacing: 0.48px;
}

.p-greetings {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 27px;
}

/* Buttons */
.btn-works {
  position: absolute;
  bottom: 60px;
  right: 82px;
  padding: 6px 9.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  background: transparent;
  color: #403d40;
  border: 1px solid #403d40;
  cursor: pointer;
}

.btn-works span {
  position: relative;
  top: -2px;
  right: -35px;
  font-size: 20px;
  font-weight: 300;
  color: #403d40;
  transition: right 0.3s;
}

.btn-works span:before {
  content: "";
  position: absolute;
  top: 13px;
  left: -74px;
  height: 1px;
  width: 64px;
  background: #403d40;
}

.btn-works:hover span {
  right: 0;
}

.btn-resume {
  color: #fff;
  position: absolute;
  top: 55px;
  right: -117px;
  background: transparent;
  display: flex;
  border: none;
  cursor: pointer;
  outline: none;
  transition: color 0.5s;
}

.btn-resume img {
  margin-right: 7px;
}

.btn-resume:hover {
  color: #79e5e9;
}

/* Burger-btn */
.burger {
  position: relative;
  width: 20px;
  height: 16px;
  cursor: pointer;
}

.burger:before,
.burger:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger span {
  position: absolute;
  background-color: #000;
  left: 0;
  width: 100%;
  height: 2px;
  top: 7px;
}

.burger-close {
  position: relative;
  top: 200px;
  width: 20px;
  height: 16px;
  align-self: flex-end;
  cursor: pointer;
}

.burger-close:before,
.burger-close:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.burger-close:before {
  top: 6px;
  transform: rotate(45deg);
}

.burger-close:after {
  bottom: 8px;
  transform: rotate(-45deg);
}

/* Burger content */
.burger-content {
  position: absolute;
  display: none;
  width: 100%;
  text-align: center;
  background: #201e20;
  transition: all 0.8s;
  z-index: 10;
}

.burger-content .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-opened {
  display: flex;
}

.avatar {
  position: relative;
  height: 226px;
  width: 226px;
  margin-top: 286px;
  border-radius: 50%;
  background: #fff;
}

.avatar:before,
.avatar:after {
  position: absolute;
}

.avatar:before {
  content: url("../img/graph_shapes/shape1_small.png");
  top: 15px;
  left: -185px;
}

.avatar:after {
  content: url("../img/graph_shapes/shape3_small.png");
  bottom: 40px;
  left: -17px;
}

.text-resume {
  position: relative;
  align-self: center;
  text-align: left;
  width: 100px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 12px;
}

.text-resume:before {
  content: url("../img/graph_shapes/shape2.png");
  position: absolute;
  top: 19px;
  right: -240px;
}

.greetengs {
  margin-top: 93px;
  font-size: 40px;
  font-weight: 500;
  color: #aeadae;
  letter-spacing: 2.4px;
}

.span-name {
  color: #fff;
}

.span-surname {
  font-weight: 800;
  color: #fff;
}

.text-about {
  max-width: 980px;
  margin-top: 10.5px;
  line-height: 35px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #aeadae;
}

.contact {
  margin-top: 40.5px;
}

.contact-me {
  color: #79e5e9;
  transition: all 0.5s;
}

.contact-me:hover {
  color: #403d40;
}

.skills {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  margin-top: 122px;
}

.skill-item {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

.progress {
  position: relative;
  width: 300px;
  height: 5px;
  margin-top: 24px;
  border-radius: 30px;
  background: #000;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 30px;
}

.percent {
  margin-top: 15px;
  font-size: 17px;
  color: #aeadae;
}

.experience {
  display: flex;
  justify-content: center;
  margin-top: 59px;
  width: 100%;
  border-top: 1px solid #2f2d2f;
}

.experience-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 389px;
  height: 181px;
}

.text-years {
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
}

.experience-description {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.text-experience {
  font-weight: 500;
  color: #fff;
}

.experience-item:nth-child(2) {
  border-right: 1px solid #2f2d2f;
  border-left: 1px solid #2f2d2f;
}

.vertical-bar {
  margin: 3px 14px 0 14px;
  width: 1px;
  height: 15px;
  background: #626162;
}

.company {
  color: #79e5e9;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 186px;
}

/* Showcase */
.showcase {
  background: url("../img/bg/dotted_texture.png") no-repeat center top;
}

.showcase-text {
  margin-top: 184px;
  max-width: 609px;
}

.section-main {
  position: relative;
  top: 181px;
}

.section-main .container {
  overflow: visible;
}

.works {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.work {
  width: 573px;
  height: 583px;
}

.work:before,
.work:after {
  position: absolute;
}

.work1 {
  position: relative;
  background-color: #baecee;
}

.work1:before {
  content: url("../img/graph_shapes/shape2.png");
  bottom: -71px;
  left: -206px;
}

.work2 {
  position: relative;
  background-color: #fae1ef;
}

.work2:before {
  content: url("../img/graph_shapes/shape3.png");
  top: 73px;
  right: -67px;
}

.work2:after {
  content: url("../img/graph_shapes/shape1.png");
  top: -245px;
  left: 157px;
}

.work3 {
  position: relative;
  background-color: #fefbe5;
  z-index: 2;
}

.work4 {
  position: relative;
  background-color: #e8bdf5;
  z-index: 2;
}

.work4:before {
  content: url("../img/graph_shapes/shape4.png");
  top: 291px;
  right: -42px;
}

/* Footer */
.footer {
  background-color: #f2fbfb;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 246px;
}

.text-loading {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 16.32px;
}

.phone-img {
  margin-top: 99px;
}

.phone {
  margin-top: 89px;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0.48px;
}

.phone-link {
  transition: all 0.5s;
}

.phone-link:hover {
  color: #79e5e9;
}

.footer-p {
  max-width: 680px;
  margin: 50px auto auto auto;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.48px;
  color: #aeadae;
}

.contact-mail {
  color: #79e5e9;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin: 75px auto 106px auto;
  max-width: 563px;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.social a {
  transition: all 0.5s;
}

.social a:hover {
  color: #79e5e9;
}

.social:nth-child(2) {
  padding: 0 56px 0 56px;
  border-right: 2px solid #dce8e8;
  border-left: 2px solid #dce8e8;
}

@import "media";
